/31 Abstract problem solve/nbproject/private/
/02 Method/build/
/31 Abstract problem solve/build/
/32 Interface/nbproject/private/
/32 Interface/build/
/33 Interface Multiple/nbproject/private/
/33 Interface Multiple/build/
